@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
  box-sizing: border-box;
  font-family: "Roboto", Sans-Serif;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

body {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
}

.root {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.app {
  width: 100%;
}

span {
  font-weight: 500;
}
header {
  display: flex;
  justify-content:center;
  width:100%;
  background-color: #fff;
  border-bottom: 1px solid #DBDBDB;
}


 input:focus {
  outline: none;
 }

nav {
  width: 100%;
  max-width: 944px;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.nav_logo-container {
  display: flex;
  align-items: center;
  
}


.hidden-icons {
  margin-left: 25.5px;
}

.nav_logo-bar {
  width: 1px;
  height: 22px;
  background-color: #DBDBDB;
  margin-right: 10px;
}

.insta-icon {
  margin-right: 10px;
  font-size: 22px;
}

.search-field {
  width: 215px;
  height: 28px;
  background-color: #FAFAFA;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
}

.search-field::placeholder {
  text-align: center;
}

.nav_icons-container{
  display: flex;
}

.icons {
  font-size: 22px;
}

.corpo {
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
}

.container_central {
  margin-top: 35px;
  width: 614px;
}
/*Stories*/
.container_stories {
  display: flex;
  width: 614px;
  background-color: #fff;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  padding: 18px 0 18px 18px;
  overflow: hidden;
  position: relative;
}

.arrow{
  position: absolute;
  z-index: 1;
  left: 94%;
  top: 35%;
}




.stories_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right:14px;
  width: 66px;
  font-size: 12px;
  font-weight: 400;
}

.stories_item p{
  height: 21px;
  display: flex;
  align-items: center;
}

.stories_ring {
  position: relative;
}
.stories_icon {
  position: absolute;
  left: 5px;
  top: 5px;
}
.post {
  width: 100%;
  margin-top: 24px;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  background-color: #fff;
  overflow: hidden;
}

.post_header {
  height: 60px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.post_header_content {
  height: 32px;
  width: 100%;
  padding: 0 17px;
  display: flex;
  justify-content: space-between;
}

.post-photo-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-dots {
  display: flex;
  align-items: center;
}

.post-title {
  margin-left: 15px;
  font-weight: 500;
}

.image-post{
  width: 100%;
}

.video {
  width: 100%;
}

.post-photo {
  width: 100%;
}

.post-bottom {
  height: 76px;
  background-color: #fff;
}
.post-iteraction-icons {
  display: flex;
  justify-content: space-between;
  margin: 13.44px 17.5px;
}
.post_icons-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85px;
}

.post_info {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
  margin: 0 17px;
}

.post_info p {
  margin: 0;
}

.post_info img {
  margin: 0 5px 0 0;
}

.save-icon {
  width: 22px;
}

.logos-bottom {
  width: 20px;
}


aside {
  margin-top: 40px;
  width: 300px;
  margin-left: 30px;
  font-size: 12px;
}

.aside_content { 
  display: flex;
  flex-direction: column;
}

.personal-info {
  margin-top: 23px;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.personal-info img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.personal-info h2{
  font-size: 14px;
}
.personal_info-data{
  margin-left: 17px;
}

.personal-info-username-box{
  display: flex;
  align-items: center;
  gap: 5px;
}

.personal-info p {
  font-weight: 300;
  font-size: 14px;
  color: #8E8E8E;
}

.sugestions p{
  color: #8E8E8E;
  font-size: 12px;
}

.sugestions a {
  text-decoration: none;
  color: #139EF2;
}

.sugestions_title {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  
}

.sugestions_title a {
  color: #000;
  font-weight: 500;
}

.sugestions_title h3{
  color: #8E8E8E;
  font-weight: 400;
  
}
.sugestions_title h4{
  color: #8E8E8E;
  font-weight: 400;
  font-size: 12px;
}

.sugestions_item {
  margin-top: 17px;
  display: flex;
  justify-content: space-between;
}
.sugestions_item-content{
  display: flex;
}
.sugestions_item-info {
  margin-left: 10px;
  font-size: 11px;
}

.aside_site-info {
  margin-top: 33px;
  color: #C7C7C7;
}

.aside_site-copyright {
  margin-top: 18px;
}